{% extends 'main/base.html' %}

{% block content %}
<div class="container py-5">
  <h2 class="fw-bold mb-4">Messages from Users</h2>
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
    {% for message in messages %}
    <div class="col">
    <div class="card h-100 shadow-sm">
      <div class="card-body">
         <h5 class="icon"><span class="material-symbols-outlined">account_circle</span></h5>
        <h5 class="card-title">{{ message.first_name }} {{ message.last_name }}</h5>
        <h6 class="card-subtitle mb-2 text-primary">{{ message.email }}</h6>
        <p class="card-text">{{ message.message }}</p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}