{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{%block title%}{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'css/style.css'%}">
</head>
<body>
  <header>

    <div class="site-name">
      <h1>{%block sitename%}{% endblock %}</h1>
    </div>

    <div class="links">
      <a href="#">All Plants</a>
      <a href="#">Contact US</a>
      <a href="#">Add Plant</a>
    </div>
    
  </header>
  {% block content %}

  {% endblock %}
</body>
</html>