{% extends "base.html" %}
{% load static %}
{% block title %} Home {% endblock %}



{% block main %}
<div class="container-fluid px-3 px-md-5">
  <div class="hero-section position-relative rounded overflow-hidden">
        <img src="{% static 'images/search-plant.jpg' %}" class="img-fluid w-100 hero-img" alt="Search background">

        <div class="overlay-content text-center text-md-start">
            <h1 class="display-4 fw-bold">Planteer</h1>
            <p class="fs-4">Plant Database For Plants Lovers</p>

            <form class="d-flex flex-column flex-md-row align-items-center justify-content-md-start mt-3" role="search" method="get" action="{% url 'plant:search_plant_view' %}">
            <input type="search" class="form-control" value="{{request.GET.search}}" name="search" placeholder="Search for a plant..." required />
                <button type="submit" class="btn btn-dark">Search</button>
            </form>
        </div>
  </div>

  
    <div class="container my-5">
        <div class="head" style="display: flex; flex-direction: row; justify-content: space-between; align-items: center;">
            <h2 class="fw-bold mb-3">Plants</h2>
            <div class="more" style="display: flex; flex-direction: row; align-items: center; gap: 0.1rem;">
                <h5>More</h5>
                <a href="{% url 'plant:all_plant_view' %}" style="text-decoration: none; color: black;"><span class="material-symbols-outlined">arrow_right_alt</span></a>            
            </div>
        </div>
        <p class="text-muted">Learn more about plants</p>

        <div class="row row-cols-1 row-cols-md-3 g-4">
                {% for plant in plants %}
                    <div class="col">
                        <div class="card h-100 shadow-sm">
                            <a href="{% url 'plant:details_view' plant.id %}" class="text-decoration-none text-dark">
                            <div style="height: 200px; background-color: #f8f9fa; display: flex; justify-content: center; align-items: center;">
                                <img src="{{ plant.image.url }}" style="max-height: 100%; max-width: 100%; object-fit: contain;" alt="{{ plant.name }}">
                            </div>
                            </a>                        <div class="card-body d-flex flex-column">
                            <a href="{% url 'plant:details_view' plant.id %}" style="text-decoration: none; color: black;"><h5 class="card-title">{{ plant.name }}</h5></a>
                            <p class="card-text text-muted">{{ plant.about|truncatewords:15 }}</p>

                            <div class="mt-auto">
                            <span class="badge bg-success">{{ plant.category }}</span>

                            </div>
                        </div>
                        </div>
                    </div>
                {% endfor %}
        </div>
    </div>



</div>
{% endblock %}

