{% extends 'main/base.html' %}

{% block title %} All messages {% endblock %}

{% block content %} 

<div class="row row-cols-1 row-cols-md-2 g-5">
        {% for user in all_messages %}
        <div class="col">
            <div class="card p-3">
                <h5>{{user.first_name}} {{user.last_name}}</h5>
                <a  href="mailto:{{user.email}}">{{user.email}}</a>
                <p>{{user.message}}</p>
                <a href="{% url 'contact:delete_message' user.id %}" class="btn btn-danger align-self-start">Delete</a> 
            </div>
        </div> 
        {% endfor %}
    </div>
</div>
{% endblock %}