{% extends 'main/base.html' %}
{% load static %}
{% block title %}Add plant{% endblock %}

{% block content %}
<h1>Add plant</h1>

<div class="row">

    <div class="col-6">

        <form class="form" action="{% url 'plants:add_views' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                <label for="name">Name: </label>
                <input type="text" class="form-control" id="name" name="name" placeholder="Name of the plant">
            </div>
            <div class="form-group">
                <label for="about">About the plant:</label>
                <br>
                <textarea placeholder="Description about the plant" name="about" class="form-control" id="about" rows="3" required></textarea>
            </div>
            <div class="form-group">
                <label for="user_for">The plant used for:</label>
                <textarea placeholder="what the plant used for" name="user_for" class="form-control" id="user_for" required></textarea>
            </div>
            <div class="form-group">
                <label for="image">Upload Image:</label>
                <input type="file" name="image" class="form-control" id="image" required accept="image/*"/>
            </div>
            <div class="form-group">
                <label>Category: </label>
                <div class="form-control">
                    {% for val, label in CategoryChoices %}
                        <input type="radio" id="{{val}}" name="category" value="{{val}}" class="form-check-input" required/>
                        <label class="form-check-label" for="{{val}}">{{label}}</label>
                    {% endfor %}
                </div>
            </div>
            <div class="form-group">
                <label>Is edible:</label><br>
                <div class="form-check form-check-inline">
                    <input type="radio" name="is_edible" value="True" class="form-check-input" required>
                    <label class="form-check-label">Yes</label>
                </div>
                <div class="form-check form-check-inline">
                    <input type="radio" name="is_edible" value="False" class="form-check-input" required>
                    <label class="form-check-label">No</label>
                </div>
            </div>
            <div class="form-group">
                <label for="date">Created at:</label>
                <input type="date" name="created_at" class="form-control" id="date" required/>
            </div>


            <button type="submit" class="btn btn-primary">Add plant</button>

        </form>


    </div>

</div>

{% endblock %}