{% extends 'main/base.html' %}
{% load static %}
{% block title %}Home{% endblock %}

{% block content %}
    {% if plants %}
        <div class="all_plants">
            <h1>All Plants</h1>
            <div class="d-flex justify-content-end">
                <form action="{% url 'plants:all_views' %}" method="GET" >

                    <div class="d-flex gap-3">
                    <select class="form-select" name="category">
                                    <option value="">Category</option>
                                    <option value="Algae" {% if request.GET.category == "Algae" %}selected{% endif %}>Algae</option>
                                    <option value="Bryophytes" {% if request.GET.category == "Bryophytes" %}selected{% endif %}>Bryophytes</option>
                                    <option value="Pteridophytes" {% if request.GET.category == "Pteridophytes" %}selected{% endif %}>Pteridophytes</option>
                                    <option value="Gymnosperms" {% if request.GET.category == "Gymnosperms" %}selected{% endif %}>Gymnosperms</option>
                                    <option value="Angiosperms" {% if request.GET.category == "Angiosperms" %}selected{% endif %}>Angiosperms</option>
                        </select>
                        <select name="is_edible" class="form-select">
                            <option value="">Is edible</option>
                            <option value="True" {% if request.GET.is_edible == 'True'%} selected {% endif %}>Yes</option>
                            <option value="False" {% if request.GET.is_edible == 'False'%} selected {% endif %}>No</option>
                        </select>
                
                        <input type="submit" value="apply" class="btn btn-primary"/>
                    </div>

                </form>
            </div>
            <div class="last_three_imgs">
                            {% for plant in plants %}
                                <div class="last_three_img">
                                    <img src="{{plant.image.url}}">
                                    <h6>{{plant.name}}</h6>
                                    <a href="{% url 'plants:details_views' plant.id %}"><p>Brief about plant</p></a>
                                    <h6>{{plant.category}}</h6>
                                </div>
                            {% endfor %}
            </div>
        </div>

    {% else %}
        <p class="bg-warning p-3 rounded">No results found for your search "{{request.GET.search}}"</p>
    {% endif %}
{% endblock %}