{% extends 'main/base.html' %}
{% load static %}
{% block title %}Home{% endblock %}

{% block content %}
    <div class="detail">
        <div class="detail_img">
            <img src="{{plants.image.url}}">
        </div>
        <div class="detail_text">
            <h2>{{plants.name}}</h2>
            <h4>Category</h4>
            <p>{{plants.about}}</p>
            <h5>Is Edible: {{plants.is_edible}}</h5>
            <h5>Used for:<br>{{plants.user_for}}</h5>
            <div class="detail_buttons">
                <a href="{% url 'plants:update_views' plants.id %}" class="btn btn-primary">update</a>
                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">delete</button>
            </div>
        </div>
        
    </div>
    <!-- Button trigger modal -->

  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Delete Plant</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Are You sure you want to delete {{plants.name}} ?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <a href="{% url 'plants:delete_views' plants.id %}" class="btn btn-danger">delete</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}