{% extends 'plants/base.html' %}
{%load static%}

{% block content %}

{% block linkcss %}
<link rel="stylesheet" href="{% static 'css/home_style.css'%}">
{% endblock %}

<div class="cards-container">
    <h1>Plants</h1>
    <p>learn more about plants.</p>

    <div class="cards">
        <div class="card">
            <a href="">
                <img src="{% static 'images/pexels-scottwebb-305821.jpg' %}" alt="">
                <h3>Plant 2</h3>
                <p>Brief about plants</p>
                <h3>frut</h3>
            </a>
        </div>
        <div class="card">
            <a href="">
                <img src="{% static 'images/pexels-scottwebb-1048035.jpg' %}" alt="">
                <h3>Plant 2</h3>
                <p>Brief about plants</p>
                <h3>frut</h3>
            </a>
        </div>
        <div class="card">
            <a href="">
                <img src="{% static 'images/pexels-scottwebb-1022922.jpg' %}" alt="">
                <h3>Plant 2</h3>
                <p>Brief about plants</p>
                <h3>frut</h3>
            </a>
        </div>
        <div class="card">
            <a href="">
                <img src="{% static 'images/pexels-scottwebb-1022922.jpg' %}" alt="">
                <h3>Plant 2</h3>
                <p>Brief about plants</p>
                <h3>frut</h3>
            </a>
        </div>
        <div class="card">
            <a href="">
                <img src="{% static 'images/pexels-scottwebb-1022922.jpg' %}" alt="">
                <h3>Plant 2</h3>
                <p>Brief about plants</p>
                <h3>frut</h3>
            </a>
        </div>
        <div class="card">
            <a href="">
                <img src="{% static 'images/pexels-scottwebb-1022922.jpg' %}" alt="">
                <h3>Plant 2</h3>
                <p>Brief about plants</p>
                <h3>frut</h3>
            </a>
        </div>
        <div class="card">
            <a href="">
                <img src="{% static 'images/pexels-scottwebb-1022922.jpg' %}" alt="">
                <h3>Plant 2</h3>
                <p>Brief about plants</p>
                <h3>frut</h3>
            </a>
        </div>
        <div class="card">
            <a href="">
                <img src="{% static 'images/pexels-scottwebb-1022922.jpg' %}" alt="">
                <h3>Plant 2</h3>
                <p>Brief about plants</p>
                <h3>frut</h3>
            </a>
        </div>
        <div class="card">
            <a href="">
                <img src="{% static 'images/pexels-scottwebb-1022922.jpg' %}" alt="">
                <h3>Plant 2</h3>
                <p>Brief about plants</p>
                <h3>frut</h3>
            </a>
        </div>
    </div>

</div>

{% endblock %}