{% extends 'plants/base.html' %}

{% block title %}
ddd
{%endblock%}

{% block content %}


<h1>my name is nawaf</h1>
<p>i want to tell you somethign</p>

<h1>my name is nawaf</h1>
<p>i want to tell you somethign</p>

<h1>my name is nawaf</h1>
<p>i want to tell you somethign</p>

<h1>my name is nawaf</h1>
<p>i want to tell you somethign</p>

<h1>my name is nawaf</h1>
<p>i want to tell you somethign</p>

<h1>my name is nawaf</h1>
<p>i want to tell you somethign</p>

<h1>my name is nawaf</h1>
<p>i want to tell you somethign</p>

<h1>my name is nawaf</h1>
<p>i want to tell you somethign</p>

<h1>my name is nawaf</h1>
<p>i want to tell you somethign</p>

<h1>my name is nawaf</h1>
<p>i want to tell you somethign</p>

<h1>my name is nawaf</h1>
<p>i want to tell you somethign</p>



{% endblock %}