{% extends 'main/base.html' %}
{% load static %}

{% block title %}Search Reaults{% endblock %}

{% block content %}

<div class="container">

    <div class="mt-5 mb-5">
        <h2><strong>Search Reaults ({{plants.count}})</strong></h2>
        <form method="GET" action="{% url 'plants:search_plants_view' %}" class="d-flex mb-4 mt-4 mx-auto">
            <input type="text" name="search" class="form-control me-2" placeholder="Search For Plant ..." value="{{ request.GET.search }}"  required minlength="3" />
            <button type="submit" class="btn btn-dark">Search</button>
        </form>


    </div>
    <div class="row g-4">
        {% for plant in plants %}
        
        <div class="col-md-4">
            <a href="{% url 'plants:detail_plant_view' plant.id %}" class="text-decoration-none d-block h-100">

            <div class="card h-150 border-0 ">
                <img src="{{ plant.image.url }}" class="card-img-top rounded-3 mb-3" alt="{{ plant.name }}" style="object-fit: fill; height: 200px;">
                <div class="card-body">
                    <h6 class="fw-bold mb-1 text-dark">{{ plant.name }}</h6>
                    <p class="text-muted small mb-1">{{ plant.about|truncatewords:"6" }}</p>
                    <p class="fw-bold small mb-0 text-dark">{{ plant.get_category_display }}</p>
                </div>
            </div>
            </a>
        </div>
        {% empty %}
        <p class="bg-warning p-3 rounded" >No plants found.</p>
        {% endfor %}
    
    </div>
    
</div>
{% endblock %}