* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 100vh;
}


header {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px 0 40px;
    position: relative;
}

header div {
    display: flex;
    gap: 20px;
    width: 50%;
    justify-content: end;
    align-items: center;
}

header div a {
    text-decoration: none;
    color: black;
    padding: 10px;
    transition: 0.3s ease-in-out;
}

header div a:hover {
    color: gray;
    transform: scale(1.1);
}

header svg {
    display: none;
}

@media screen and (max-width: 800px) {
    header div {
        position: absolute;
        flex-direction: column;
        top: -300px;
        right: 10%;
        background-color: white;
        padding: 30px 20px;
        border-radius: 10px;
        width: 40%;
        transition: all 0.2s ease-in-out;
        z-index: 1000;
    }

    header svg {
        display: block;
        cursor: pointer;
    }

    footer .footerl-row {
        flex-direction: column;
        justify-items: center;
        align-items: center;
    }

    footer .left_side {
        width: 100%;
        margin-bottom: 30px;
    }

    * {
        font-size: 0.8rem;
    }

}

footer {
    width: 100%;
    padding: 30px 0px;
}

footer .row {
    border-top: 1px lightgray solid;
    padding: 40px 0 0 0;
}

footer .footerl-row {
    display: flex;
}

footer .left_side {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

footer .left_side .icons {
    display: flex;
    width: 100%;
    gap: 20px;
    justify-content: center;
}

footer .right_side {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

footer .right_side div {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
}

footer .right_side div ul {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    position: relative;
    list-style: none;
}

footer .right_side div ul li {
    padding: 10px;

}

footer .right_side div ul li a {
    text-decoration: none;
    color: black;
    padding: 5px;
}


main {
    width: 100%;
}

main .home_countainer {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60vh;
    background-image: url('../image/pexels-scottwebb-213727.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    justify-self: center;
    background-color: #383838;
    background-blend-mode: hard-light;
    border-radius: 10px;
}

main .home_countainer h1 {
    /* background-color: #0000007b; */
    color: #e7ffbd;
    font-weight: 700;
    font-size: 3.1em;
    margin: 10px;
    padding: 5px 20px;
    border-radius: 10px;
}

main .home_countainer h3 {
        padding: 5px 20px;
    border-radius: 10px;
    /* background-color: #0000007b; */
    font-size: 1.7rem;
    font-weight: 500;
    color: #e7ffbd;
    text-align: center;
}

main .home_countainer .search {
    margin-top: 20px;
    width: 65%;
}

main .home_countainer .search form {
    display: flex;
    width: 100%;
    gap: 15px;
}

main .home_countainer .search form input {
    height: 50px;
}



main .search_container {
    width: 100%;  
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

main .search_container .search {
    width: 80%;
}

main .search_container .search form{
    width: 100%;
    display: flex;
    gap: 20px;
    padding: 30px 0;
    border-bottom: 1px lightgray solid;
}